<html> 
    <head> 
        <title>Sparks</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>

        <div class="game_container">
            <div class="profile_container">
                    <div>
                        <img id="profilePicture"/>
                    </div>
            </div>

            <div class="prompt_container">
                <h1 class="header_text" id="headerMessage">Who is the best match?</h1>
            </div>

            <div class="options_parent_container">
                <div class="options_container">

                    <div class="option_container">
                        <div class="options_content">
                            <div>
                                <img id="option1ProfilePicture" class="options_image"/>
                                <div class="votes_container">
                                    <img class="heart" src="/assets/heart.png"/>
                                    <p id="option1Votes" class="votes_text"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="option_container">
                        <div class="options_content">
                            <div>
                                <img id="option2ProfilePicture" class="options_image"/>
                                <div class="votes_container">
                                    <img class="heart" src="/assets/heart.png"/>
                                    <p id="option2Votes" class="votes_text"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="option_container">
                        <div class="options_content">
                            <div>
                                <img id="option3ProfilePicture" class="options_image"/>
                                <div class="votes_container">
                                    <img class="heart" src="/assets/heart.png"/>
                                    <p id="option3Votes" class="votes_text"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>