.game_container {
	width: 100%;
}

.profile_container {
	text-align: center;
}

#profilePicture {
	height: 60%
}

.options_parent_container {
	width: 100%;
	text-align: center;
}

.options_container { 
	display: inline-flex;
 }

 .option_container {
 	padding: 20px;
 }

 .options_content { 
 	display: inline-flex;
    align-items: center;
  }

 .options_image { 
 	height: 100px;
 	width: 100px;
 	overflow: hidden;
    border-radius: 50px;
    padding: 5px;
  }